
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$base-radios: 20px 20px 0px 0px;

body {
  background-image: url(/media/wave.svg);
  background-repeat: no-repeat;
}

header {
  position: relative;
  
  img.logo {
    max-width: 35rem;
  }

  .behind {
    position: absolute;
    top: 50%;
    right: 2em;  

    img {
      max-width: 20rem;
    }
  }

  .on {
    position: absolute;
    max-width: 25rem;
    top: 61px;
    z-index: 2;
    left: -8rem;

    img {
      max-width: 21rem;
    }
  }
}

#app {

  .b-yellow {
    background-color: #FFCA00;
  }

  .b-red {
    background-color: #E43636;
  }

  p.preview {
    font: Bold Italic 24px/29px Roboto;
    letter-spacing: 0;
    color: #A03400;
    opacity: 1;
    margin: 60px 0;
  }

  ::placeholder, 
  .font-red {
    letter-spacing: 0;
    color: #A03400;
    opacity: 1;
  }

  input, textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E43636;
    border-radius: 10px;
    opacity: 1;
  }

  .custom-switch .custom-control-label::after {
    background: #E33535 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
      color: #fff;
      border-color: #fff;
      background-color: #fff;
  }

  .card {

    border-radius: 20px 20px 20px 20px;
    margin-bottom: 50px;

    .card-header {

      border-radius: $base-radios;

      &.p-left {
        padding-left: 4em;
      }

      h5.yellow {
        font: Bold Italic 24px/29px Roboto;
      }

      h5.red {
        font: Bold Italic 30px/37px Roboto;
        color: #FFCA00;
      }

      span {
        text-align: right;
        font: Bold Italic 26px/32px Roboto;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
      }
    }

    &.with-img {
      width: 90%;
      float: right;

      .card-body {
        padding-left: 4em;
      }
    }

    img.position-left {
      position: absolute;
      max-width: 150px;
      left: -10%;
    }
  }
  .box {
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E43636;
    border-radius: 10px;
    opacity: 1;
  }

  .buttons {

    width: 100%;
    text-align: center;
    position: absolute;

    button {
      border-radius: 30px;
      opacity: 1;
      text-align: center;
      font: Black 20px/26px Roboto;
      font-weight: bold;
      letter-spacing: 0;
      opacity: 1;
      min-width: 200px;
      margin: 0 10px;

      &.red {
        background: #E43636 0% 0% no-repeat padding-box;
      }

      &.yellow {
        background: #FFCA00 0% 0% no-repeat padding-box;
        color: #A03400;
      }
    }
  }

  .inputfile-4 + label svg {
    width: 10%;
    height: 10%;
    fill: #E43636;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    text-align: center;
    font: Regular 16px/21px Roboto;
    letter-spacing: 0;
    color: #A03400;
    opacity: 1;
    max-width: 80%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }
}